@model Student.Domain.Standard

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Student Detail</h4>
<hr />
<div>
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="StandardName"></label>
                <input asp-for="StandardName" />
            </div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

