@model Student.Domain.Standard

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<hr />
<div>
    <div style="border-radius:8px;background-color:#f2f2f2;padding:20px">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="StandardName">Standard Name:</label>
                <input asp-for="StandardName" />
            </div>
           
           <div>
            <input type="submit" value="Edit"class="btn btn-default" />
    </div>
    </form>
</div>
</div>

<div>
    <a asp-action="Standard">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
