@model Student.Domain.Students

<h2>Create</h2>

<h4>Student Detail</h4>
<hr />
<div>
    <div style="border-radius:8px;background-color:#f2f2f2;padding:20px">
        <form asp-action="CreateEdit">
            <div asp-validation-summary="All"></div>
            <div class="form-group row">
                <label asp-for="Name" class="col-sm-2 col-form-label">Name:</label>
                <input asp-for="Name" />
            </div>
            <div class="form-group row">
                <label asp-for="FatherName" class="col-sm-2 col-form-label"> Father Name:</label>
                <input asp-for="FatherName" />
            </div>
            <div class="form-group row">
                <label asp-for="MotherName" class="col-sm-2 col-form-label"> Mother Name:</label>
                <input asp-for="MotherName" />
            </div>
            <div class="form-group row">
                <label asp-for="RollNo" class="col-sm-2 col-form-label">Roll No:</label>
                <input asp-for="RollNo" />
            </div>
            <div class="form-group row">
                <label asp-for="DOB" class="col-sm-2 col-form-label"> Date OF Birth:</label>
                <input type="date" asp-for="DOB" />
            </div>
            <div class="form-group row">
                <label asp-for="Age" class="col-sm-2 col-form-label">Age:</label>
                <input asp-for="Age" />
            </div>
            <div class="form-group row">
                <label asp-for="AddmissionDate" class="col-sm-2 col-form-label">Addmission Date:</label>
                <input type="date" asp-for="AddmissionDate" />
            </div>
            <div class="form-group row">
                <label asp-for="CompeletionDate" class="col-sm-2 col-form-label">Compeletion Date:</label>
                <input type="date" asp-for="CompeletionDate" />
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Standard:</label>
                <select asp-for="StandardId" asp-items="@ViewBag.StandardList"></select>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Student">Back to List</a>
</div>
