@model Student.Domain.Students

@{
    ViewData["Title"] = "Admission Details";
}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">

<table class="table" style="width:70%">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AddmissionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompeletionDate)
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.AddmissionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.CompeletionDate)
            </td>
        </tr>
    </tbody>
</table>
