@model Student.Domain.Students

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<hr />
<div>
    <div>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div>
                <label asp-for="RollNo"></label>
                <input asp-for="RollNo" />
            </div>
            <div>
                <label asp-for="Name"></label>
                <input asp-for="Name" />
            </div>
            <div>
                <label asp-for="DOB"></label>
                <input asp-for="DOB" />
            </div>
            <div>
                <label asp-for="Age"></label>
                <input asp-for="Age" />
            </div>
            <div>
                <label asp-for="AddmissionDate"></label>
                <input asp-for="AddmissionDate" />
            </div>
            <div>
                <label asp-for="CompeletionDate"></label>
                <input asp-for="CompeletionDate" />
            </div>
            <div>
                <label>Standard</label>
                <select asp-for="StandardId" asp-items="@ViewBag.StandardList"></select>
            </div>
            <div>
                <input type="submit" value="Edit" />
            </div>
        </form>
</div>
</div>

<div>
    <a asp-action="Student">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
