@model Student.Domain.Students

<h2>Edit</h2>
<hr />
<div>
    <div style="border-radius:8px;background-color:#f2f2f2;padding:20px">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group row">
                <label asp-for="RollNo"class="col-sm-2 col-form-label"> Roll No:</label>
                <input asp-for="RollNo" />
            </div>
            <div class="form-group row">
                <label asp-for="Name"class="col-sm-2 col-form-label"> Name:</label>
                <input asp-for="Name" />
            </div>
            <div class="form-group row">
                <label asp-for="FatherName"class="col-sm-2 col-form-label">Father Name:</label>
                <input asp-for="FatherName" />
            </div>
            <div class="form-group row">
                <label asp-for="MotherName"class="col-sm-2 col-form-label">Mother Name:</label>
                <input asp-for="MotherName" />
            </div>
            <div class="form-group row">
                <label asp-for="DOB"class="col-sm-2 col-form-label">Date Of Birth:</label>
                <input asp-for="DOB" />
            </div>
            <div class="form-group row">
                <label asp-for="Age"class="col-sm-2 col-form-label">Age:</label>
                <input asp-for="Age" />
            </div>
            <div class="form-group row">
                <label asp-for="AddmissionDate"class="col-sm-2 col-form-label">Addmission No:</label>
                <input asp-for="AddmissionDate" />
            </div>
            <div class="form-group row">
                <label asp-for="CompeletionDate"class="col-sm-2 col-form-label">Compeletion Date:</label>
                <input asp-for="CompeletionDate" />
            </div>
            <div class="form-group row">
                <label>Standard</label>
                <select asp-for="StandardId" asp-items="@ViewBag.StandardList"></select>
            </div>
            <div>
                <input type="submit" value="Edit"class="btn btn-default" />
            </div>
        </form>
</div>
</div>
<br/>
<div>
    <a asp-action="Student">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
