


@{
    ViewData["Title"] = "Front";
}
<h2>Front</h2>
<div>
    <p><a> @Html.ActionLink("Student Detail", "Student","StudentDetail")</a></p>
    <p><a> @Html.ActionLink("Standards", "Standard","Standard")</a></p>

</div>

