
<h2>Home</h2>
<hr>
<div>
    <p class="alert alert-success"><a> @Html.ActionLink("Student Detail", "Student","StudentDetail")</a></p>
    <p class="alert alert-info"><a> @Html.ActionLink("Standards", "Standard","Standard")</a></p>

</div>

